{% extends 'base.html.twig' %}

{% block title %}Users List{% endblock %}

{% block body %}
        <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">

                    <div class="breadcrumb-main user-member justify-content-sm-between ">
                        <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                        
                                <div class="d-flex align-items-center user-member__title justify-content-center me-sm-25">
                                    <h4 class="text-capitalize fw-500 breadcrumb-title">users list </h4>                           
                                </div>
                                <form action="{{ path('app_user_list', {'isArchived': isArchived, 'isVerified': isVerified, 'seach-query': searchQuery}) }}" method="GET" class="d-flex align-items-center user-member__form my-sm-0 my-2">
                                    <img src="{{ asset('BackOffice/img/svg/search.svg') }}" alt="search" class="svg">
                                    <input id="search-input" class="form-control me-sm-2 border-0 box-shadow-none" type="search" name="search-query" placeholder="Search Users" aria-label="Search" value="{{ searchQuery }}">
                                </form>
                            
                        </div>
                            <div class="project-category d-flex align-items-center ms-md-30 mt-xxl-10 mt-15">
                              <p class="fs-14 color-gray text-capitalize mb-10 mb-md-0  me-10">Is Verified :</p>
                              <div class="project-tap order-project-tap global-shadow">
                                 <ul class="nav px-1" id="ap-tab" role="tablist">
                                    <li class="nav-item">
                                       <a class="nav-link{{ isVerified == 'All' ? ' active' }}" 
                                        href="{{ path('app_user_list', {'isVerified': 'All', 'isArchived': isArchived, 'search-query': searchQuery}) }}"
                                        aria-selected="{{ isVerified == 'All' ? 'true' : 'false' }}">All</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link{{ isVerified == 'Yes' ? ' active' }}" 
                                        href="{{ path('app_user_list', {'isVerified': 'Yes', 'isArchived': isArchived, 'search-query': searchQuery}) }}"
                                        aria-selected="{{ isVerified == 'Yes' ? 'true' : 'false' }}">Yes</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link{{ isVerified == 'No' ? ' active' }}" 
                                        href="{{ path('app_user_list', {'isVerified': 'No', 'isArchived': isArchived, 'search-query': searchQuery}) }}"
                                        aria-selected="{{ isVerified == 'No' ? 'true' : 'false' }}">No</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                               <div class="project-category d-flex align-items-center ms-md-30 mt-xxl-10 mt-15">
                              <p class="fs-14 color-gray text-capitalize mb-10 mb-md-0  me-10">Is Archived :</p>
                              <div class="project-tap order-project-tap global-shadow">
                                 <ul class="nav px-1" id="ap-tab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link{{ isArchived == 'All' ? ' active' }}" 
                                        href="{{ path('app_user_list', {'isVerified': isVerified, 'isArchived': 'All', 'search-query': searchQuery}) }}"
                                        aria-selected="{{ isArchived == 'All' ? 'true' : 'false' }}">All</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link{{ isArchived == 'Yes' ? ' active' }}" 
                                        href="{{ path('app_user_list', {'isVerified': isVerified, 'isArchived': 'Yes', 'search-query': searchQuery}) }}"
                                        aria-selected="{{ isArchived == 'Yes' ? 'true' : 'false' }}">Yes</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link{{ isArchived == 'No' ? ' active' }}" 
                                        href="{{ path('app_user_list', {'isVerified': isVerified, 'isArchived': 'No', 'search-query': searchQuery}) }}"
                                        aria-selected="{{ isArchived == 'No' ? 'true' : 'false' }}">No</a>
                                 </ul>
                              </div>
                           </div>
                     <div class="action-btn">
                        <a href="{{ path('app_user_create') }}" class="btn px-15 btn-primary"  style="background:#A40E1C;">
                           <i class="las la-plus fs-16"></i>Ajouter utilisateur</a>

                     </div>
                    </div>

               </div>
            </div>
            
            <div class="row">
               <div class="col-lg-12">
                  <div class="userDatatable global-shadow border-light-0 p-30 bg-white radius-xl w-100 mb-30" >
                     <div class="table-responsive" >
                        <table id="user-table" class="table mb-0 table-borderless " >
                           <thead >
                              <tr class="userDatatable-header" >
                                 <th>
                                    <span class="userDatatable-title">Email</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title">Nom</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title">Prenom</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title">CIN</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title">Role</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title">Adresse</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title float-end">Telephone</span>
                                 </th>
                                 {# <th>
                                    <span class="userDatatable-title">Image</span>
                                 </th> #}
                                 <th>
                                    <span class="userDatatable-title">GitHub UserName</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title">Is Verified</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title">Is Archived</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title float-end">Actions</span>
                                 </th>
                              </tr>
                           </thead>
                           <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                  {{ user.email }}      
                                            </div>
                                        </td>
                                            <td>
                                            <div class="d-flex">
                                                   {{ user.nom }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                {{ user.prenom }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                {{ user.cin }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                {{ user.role }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                {{ user.adresse }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                {{ user.telephone }}
                                            </div>
                                        </td>
                                        {# <td>
                                            <div class="d-flex">
                                                {{ user.image }}
                                            </div>
                                        </td> #}
                                        <td>
                                            <div class="d-flex">
                                                {{ user.githubUsername }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
<span class="bg-opacity-{{ user.isverified ? 'success color-success' : 'danger color-danger' }} rounded-pill userDatatable-content-status active">{{ user.isverified ? 'Yes' : 'No' }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content d-inline-block">
                                            
<span class="bg-opacity-{{ user.archive ? 'success color-success' : 'danger color-danger' }} rounded-pill userDatatable-content-status active">{{ user.archive ? 'Yes' : 'No' }}</span>

                                                {# {{ user.archive ? 'Yes' : 'No' }} #}
                                            </div>
                                        </td>
                                        <td>
                                            <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                                            <li>
                                                <a href="{{ path('app_user_show', {'id': user.id}) }}" class="view">
                                                    <i class="uil uil-eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="edit">
                                                    <i class="uil uil-edit"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('app_user_archive', {'id': user.id}) }}" 
                                                    value="{{ csrf_token('delete' ~ user.id) }}" class="remove">
                                                    <i class="fa-solid fa-box-archive"></i>
                                                </a>
                                            </li>
                                            {# <li>
                                                <a href="{{ path('app_user_ban', {'id': user.id}) }}" 
                                                    value="{{ csrf_token('delete' ~ user.id) }}" class="remove">
                                                    <i class="fa-solid fa-user-slash"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('app_user_unban', {'id': user.id}) }}" class="edit">
                                                    <i class="fa-brands fa-creative-commons-by"></i>
                                                </a>
                                            </li> #}
                                            </ul>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="15">no records found</td>
                                    </tr>
                                {% endfor %}
                           </tbody>

                        </table>
                     </div>
                     <nav class="dm-page ">
                     <ul class="dm-pagination d-flex">
                     <li class="">
                        <div class="paging-option">
                            {# add pagination links #}
                            {% if currentPage > 1 %}
                                <a href="{{ path('app_user_list', {'page': currentPage - 1}) }}"class="dm-pagination__link pagination-control"><span class="la la-angle-left"></span></a>
                            {% endif %}
                            {% for page in 1..totalPages %}
                                {% if page == currentPage %}
                                <a href="{{ path('app_user_list', {'page': page}) }}"class="dm-pagination__link active "><span class="page-number">{{page}}</span></a>
                                {% else %}
                                <a href="{{ path('app_user_list', {'page': page}) }}"class="dm-pagination__link "><span class="page-number">{{page}}</span></a>
                                
                                {% endif %}
                            {% endfor %}
                            {% if currentPage < totalPages %}
                                <a href="{{ path('app_user_list', {'page': currentPage + 1}) }}" class="dm-pagination__link pagination-control"><span class="la la-angle-right"></span></a>
                            {% endif %}
                        </div>
                     </li>
                      {# <li class="dm-pagination__item">
                                 <div class="paging-option">
                                    <select name="page-number" class="page-selection">
                                       <option value="20">20/page</option>
                                       <option value="40">40/page</option>
                                       <option value="60">60/page</option>
                                    </select>
                                 </div>
                              </li> #}
                     </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
{% endblock %}
