{% extends 'base.html.twig' %}

{% block title %}Show User{% endblock %}

{% block body %}

<div class="container-fluid">
  
                        <div class="col-12 mt-25">
                           <div class="card banner-feature banner-feature--7 position-relative border-0 mb-0">
                              <div class="d-flex justify-content-center">
                                 <div class="card-body py-25 px-30">
                                    <div class="div">
                                       <h4 class="banner-feature__heading">You can view the user's details</h4>
                                       <p class="banner-feature__para ">You can navigate to the edit page by clicking this button</p>
                                       <a class="btn btn-primary mt-15 btn-md" href="{{ path('app_user_edit', {'id': user.id}) }}" class="edit" style="background:#37474F;"> Edit User </a>
                                      
                                    </div>
                                    <div class="banner-feature__shape position-absolute">
                                       <img src="{{ asset('BackOffice/img/User research-rafiki.png') }}" alt="img" style="max-width:20%;margin-left:900px;">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <br>
                 <div class="card">
                 <div class="row">
                      <div class="col">
                            <div class="card-body">
                            <div class="application-task d-flex align-items-center mb-25">

                                <div class="application-task-icon wh-60 bg-opacity-secondary content-center" style="background:#A40E1C;">
                                    <i class="fa-solid fa-user" style="color:#ffffff;"></i>
                                </div>
                                <div class="application-task-content">
                                    <h4>Nom</h4>
                                    <span class="text-light fs-14 mt-1 text-capitalize">{{ user.nom }}</span>
                                </div>
                            </div>

                            <div class="application-task d-flex align-items-center mb-25">

                                <div class="application-task-icon wh-60 bg-opacity-secondary content-center" style="background:#A40E1C;">
                                    <i class="fa-solid fa-user" style="color:#ffffff;"></i>
                                </div>
                                <div class="application-task-content">
                                    <h4>Prenom</h4>
                                    <span class="text-light fs-14 mt-1 text-capitalize">{{ user.prenom }}</span>
                                </div>


                            </div>
                            <div class="application-task d-flex align-items-center mb-25">

                                <div class="application-task-icon wh-60 bg-opacity-primary content-center" style="background:#37474F;">
                                    <i class="fa-regular fa-envelope" style="color:#ffffff;"></i>
                                </div>
                                <div class="application-task-content">
                                    <h4>E-mail</h4>
                                    <span class="text-light fs-14 mt-1 text-capitalize">{{ user.email }}</span>
                                </div>

                            </div>
                            <div class="application-task d-flex align-items-center mb-25">

                                <div class="application-task-icon wh-60 bg-opacity-success content-center" style="background:#A40E1C;">
                                    <i class="fa-solid fa-phone-volume" style="color:#ffffff;"></i>
                                </div>
                                <div class="application-task-content">
                                    <h4>CIN</h4>
                                    <span class="text-light fs-14 mt-1 text-capitalize">{{ user.cin }}</span>
                                </div>

                            </div>

                            <div class="application-task d-flex align-items-center mb-25">

                                <div class="application-task-icon wh-60 bg-opacity-success content-center" style="background:#A40E1C;">
                                    <i class="fa-solid fa-phone-volume" style="color:#ffffff;"></i>
                                </div>
                                <div class="application-task-content">
                                    <h4>Role</h4>
                                    <span class="text-light fs-14 mt-1 text-capitalize">{{ user.role }}</span>
                                </div>

                            </div>

                            <div class="application-task d-flex align-items-center mb-25">

                                <div class="application-task-icon wh-60 bg-opacity-warning content-center" style="background:#37474F;">
                                    <i class="fa-regular fa-calendar" style="color:#ffffff;" ></i>
                                </div>
                                <div class="application-task-content">
                                    <h4>Telephone</h4>
                                    <span class="text-light fs-14 mt-1 text-capitalize">{{ user.telephone }}</span>
                                </div>
                            </div>

                             <div class="application-task d-flex align-items-center">

                                <div class="application-task-icon wh-60 bg-opacity-warning content-center" style="background:#A40E1C;">
                                    <i class="fa-solid fa-map-location-dot" style="color:#ffffff;" ></i>
                                </div>
                                <div class="application-task-content">
                                    <h4>Adresse</h4>
                                    <span class="text-light fs-14 mt-1 text-capitalize">{{ user.adresse }}</span>
                            </div>

                            </div>

                        </div>
                      </div>

                      <div class="col">
                            <div class="card-body">
                            <div class="application-task d-flex align-items-center mb-25">

                                <div class="application-task-icon wh-60 bg-opacity-secondary content-center" style="background:#37474F;">
                                    <i class="fa-solid fa-signal" style="color:#ffffff;" ></i>
                                </div>
                                <div class="application-task-content">
                                    <h4>Github UserName</h4>
                                    <span class="text-light fs-14 mt-1 text-capitalize">{{ user.githubUsername }}</span>
                                </div>

                            </div>

                            <div class="application-task d-flex align-items-center mb-25">

                                <div class="application-task-icon wh-60 bg-opacity-success content-center" style="background:#37474F;">
                                    <i class="fa-regular fa-circle-check" style="color:#ffffff;" ></i>
                                </div>
                                <div class="application-task-content">
                                    <h4>Verification Status</h4>
                                    <span class="text-light fs-14 mt-1 text-capitalize">{{ user.isVerified ? 'Yes' : 'No' }}</span>
                                </div>

                            </div>

                            <div class="application-task d-flex align-items-center mb-25">

                                <div class="application-task-icon wh-60 bg-opacity-success content-center" style="background:#37474F;">
                                    <i class="fa-regular fa-circle-check" style="color:#ffffff;" ></i>
                                </div>
                                <div class="application-task-content">
                                    <h4>Archive Status</h4>
                                    <span class="text-light fs-14 mt-1 text-capitalize">{{ user.archive ? 'Yes' : 'No' }}</span>
                                </div>

                            </div>

                            </div>
                      </div>
                  </div>
    </div>              


                 
    
</div>
<br>
{% endblock %}