{% extends 'base.html.twig' %}

{% block title %}categorie index
{% endblock %}

{% block body %}

	<div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
		<div class="d-flex align-items-center user-member__title justify-content-center me-sm-25">
			<h4 class="text-capitalize fw-500 breadcrumb-title">Liste des Categorie
			</h4>

		</div>

		{# <form action="/" class="d-flex align-items-center user-member__form my-sm-0 my-2">
			<img src="/BackOffice/img/svg/search.svg" alt="search" class="svg">
			<input class="form-control me-sm-2 border-0 box-shadow-none" type="search" placeholder="Search by Titre" aria-label="Search">
		</form> #}

	</div>

	{# <h1 style="text-align: center;"><span style="color: #0077B6;">categorie index</span></h1> #}


	<table border="2" class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>nom</th>
				<th>Type</th>
				<th>Archive</th>
			</tr>
		</thead>
		<tbody>
			{% for categorie in categories %}
				<tr>
					<div class="d-flex">
						<td>{{ categorie.id }}</td>
					</div>
					<div class="d-flex">
						<td>{{ categorie.nom }}</td>
					</div>
					<div class="d-flex">
						<td>{{ categorie.type }}</td>
					</div>

					<div class="d-flex">
						<td>{{ categorie.archive ? 'Yes' : 'No' }}</td>
					</div>

					<td>
						<ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
							<li>
								<a href="{{ path('app_categorie_show', {'id': categorie.id}) }}" class="show">
									<i class="uil uil-eye"></i>
								</a>
							</li>
							<li>
								<a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="edit">
									<i class="uil uil-edit"></i>
								</a>
							</li>

							{# <li>
							                                                <a href="{{ path('app_user_ban', {'id': user.id}) }}" 
							                                                    value="{{ csrf_token('delete' ~ user.id) }}" class="remove">
							                                                    <i class="fa-solid fa-user-slash"></i>
							                                                </a>
							                                            </li>
							                                            <li>
							                                                <a href="{{ path('app_user_unban', {'id': user.id}) }}" class="edit">
							                                                    <i class="fa-brands fa-creative-commons-by"></i>
							                                                </a>
							                                            </li> #}
						</ul>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{# <li class="dm-pagination__item">
	                        <div class="paging-option">
	                             add pagination links
	                            {% if currentPage > 1 %}
	                                <a href="{{ path('app_categorie_index', {'page': currentPage - 1}) }}"class="dm-pagination__link pagination-control"><span class="la la-angle-left"></span></a>
	                            {% endif %}
	                            {% for page in 1..totalPages %}
	                                {% if page == currentPage %}
	                                {{ page }}
	                                {% else %}
	                                <a href="{{ path('app_categorie_index', {'page': page}) }}">{{ page }}</a>
	                                {% endif %}
	                            {% endfor %}
	                            {% if currentPage < totalPages %}
	                                <a href="{{ path('app_categorie_index', {'page': currentPage + 1}) }}" class="dm-pagination__link pagination-control"><span class="la la-angle-right"></span></a>
	                            {% endif %}
	                        </div>
	                        </li> #}
	{# <a href="{{ path('app_categorie_new') }}">Create new</a> #}
	<div class="action-btn">
		<a href="{{ path('app_categorie_new') }}" class="btn btn-info btn-default btn-squared btn-transparent-info ">
			<i class="las la-plus fs-16"></i>Add New categorie</a>

	</div>
{% endblock %}
