{% extends 'baseFront.html.twig' %}

{% block title %}evenement index
{% endblock %}

{% block body %}


	

	<div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
		<div class="d-flex align-items-center user-member__title justify-content-center me-sm-25">
			<h4 class="text-capitalize fw-500 breadcrumb-title">Liste d'evenements
			</h4>

		</div>

		

	</div>

	{# <h1 style="text-align: center;"><span style="color: #0077B6;">evenement index</span></h1> #}
	<div class="table-responsive">


		<table border="2" class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>description</th>
					<th>Lieu</th>

					<th>Date</th>

				</tr>
			</thead>
			<tbody>


				{% for evenement in evenements %}
					<tr>
						<div class="d-flex">
							<td>{{ evenement.id }}</td>
						</div>
						<div class="d-flex">
							<td>{{ evenement.titre }}</td>
						</div>

						<div class="d-flex">
							<td>{{ evenement.description }}</td>
						</div>
						<div class="d-flex">
							<td>{{ evenement.Lieu }}</td>
						</div>
						<div class="d-flex">
							<td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
						</div>

					

						<td>
						
						</td>


						<td>
							<ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
								<li>
									<a href="{{ path('app_evenement_show1', {'id': evenement.id}) }}">
										<i class="uil uil-eye"></i>
									</a>
								</li>
							
																																																																																																																																																												                                      
							</ul>
				
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</div>









	</table>
	{# <li class="dm-pagination__item">
																				                        <div class="paging-option">
																				                             add pagination links
																				                            {% if currentPage > 1 %}
																				                                <a href="{{ path('app_evenement_index', {'page': currentPage - 1}) }}"class="dm-pagination__link pagination-control"><span class="la la-angle-left"></span></a>
																				                            {% endif %}
																				                            {% for page in 1..totalPages %}
																				                                {% if page == currentPage %}
																				                                {{ page }}
																				                                {% else %}
																				                                <a href="{{ path('app_evenement_index', {'page': page}) }}">{{ page }}</a>
																				                                {% endif %}
																				                            {% endfor %}
																				                            {% if currentPage < totalPages %}
																				                                <a href="{{ path('app_evenement_index', {'page': currentPage + 1}) }}" class="dm-pagination__link pagination-control"><span class="la la-angle-right"></span></a>
																				                            {% endif %}
																				                        </div>
																				                        </li> #}
	{# <a href="{{ path('app_evenement_new') }}">Create new</a> #}



    	<div class="action-btn">
		<a href="{{ path('chart') }}" class="btn btn-info btn-default btn-squared btn-transparent-info ">
			<i class="las la-plus fs-16"></i>Voir evenement par categorie</a>

	</div>

{% endblock %}
