{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}
 

<div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
    <div class="d-flex align-items-center user-member__title justify-content-center me-sm-25">
        <h4 class="text-capitalize fw-500 breadcrumb-title">Liste d'Annonces </h4>
    </div>
{# 
  <div class="d-flex justify-content-center">
       <div class="sidebar-search">
        <div class="input-group custom-search-form">
        <div class="search-box">
    <button class="btn-search"><i class="fas fa-search"></i></button>
    <input type="text" name="search" id="search" class="input-search" placeholder="Type to Search...">
  </div>    
</div>
        </div>
        </div> 
    <style>
      .table tbody tr:hover{
        background-color:#ddd;
      }
    search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: #44509c;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: #646fb3;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
    </style> 

</div> #}


<table border="2" class="table">

    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Date</th>
            <th>Classification</th>
            <th>Archive</th>
          {#  <th>Actions</th> #}
        </tr>
    </thead>
    <tbody>
       {% if annonces is empty %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
        
    {% else %}
        {% for annonce in annonces %}
        <tr>
            <td>{{ annonce.id }}</td>
            <td>{{ annonce.titre }}</td>
            <td>{{ annonce.date ? annonce.date|date('Y-m-d') : '' }}</td>
            <td>{{ annonce.classification.nom }}</td>
            <td>{{ annonce.archive ? 'Yes' : 'No' }}</td>
            <td>
                <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                    <li>
                        <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="show">
                            <i class="uil uil-eye"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}" class="edit">
                            <i class="uil uil-edit"></i>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
 
    {% endif %}
    </tbody>
</table>
{{ knp_pagination_render(annonces) }}

<a href="{{ path('app_annonce_new') }}" class="btn btn-info btn-default btn-squared btn-transparent-info ">
    Add New Annonce
</a>

<a href="{{ path('export_all_pdf') }}" class="btn btn-info btn-default btn-squared btn-transparent-info ">
    Télécharger PDF
</a>


{# <form action="{{ path('app_annonce_index') }}" method="get">
    <label for="tri">Trier par:</label>
    <select name="tri" id="tri">
        <option value="titre">Titre</option>
        <option value="date">Date</option>
        <option value="classification">Classification</option>
        <option value="archive">Archive</option>
    </select>
    <button type="submit">Trier</button>
</form> #}

{# <a href="{{ path('app_annonce_trier') }}">Trier par titre</a>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     });
    });
  });
</script>   #}
 {# here starts trie and find   #}

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    </ol>
                </nav>
            </div>
             
           
                <div class="card">
                  <div style="display: flex">
                            <div class="col-md-5">
                            </div>
                            <form method="post" class="forms-sample" style="margin-left: -42px" >
                                <div class="form-group col-md-4" style="display: flex; margin-top: 11px;margin-left: 50px;margin-right: 14px;padding-bottom: 7px">
    
                                    <div class="form-check">
                                        <label class="form-check-label" style="width: 92px;margin-left: -2px;margin-right: 10px;">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="id">id</label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="titre" >titre</label>
                                    </div>
    
    
                                    <button type="Submit" class="btn btn-success btn-fw" style="margin: auto; ">Sort</button>
                                </div>
                            </form>
    
                        </div></div>
        <div class="row ">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex">
                            <div class="col-md-5">
                            </div>
                           
    
                        </div>
    
                        <ul class="navbar-nav w-100" style="margin-top: 18px;">
                            <li class="nav-item w-100">
                                <form name="Search-method" id="Search-method"method="post" class="forms-sample" style="display: flex">
                                    <div class="form-group col-md-5">
                                        <label style="margin-top: 11px;margin-left: 10px;margin-right: 14px;padding-bottom: 7px;;">Option Recherche</label>
                                        <select name="optionsearch" class="js-example-basic-single" style="width: 200px;height: 38px; color: white; background-color: #788175; border-radius: 4px;text-align: center;border: 2px solid #0090e7;margin-right: 15px;">
                                            <option value="">Choisir un Critére</option>
                                            <option value="id">id</option>
                                            <option value="nom">titre</option>
                                         
                                        </select>
                                    </div>
                                    <div class="form-group col-md-7">
                                        <div class="input-group">
                                            <input name="Search" type="text" class="form-control" placeholder="Search Annonces" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-sm btn-primary" type="Submit" >Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# here ends trie and find   #}       
{% endblock %}
