{% extends 'base.html.twig' %}

{% block title %}evenement index
{% endblock %}

{% block body %}
  
	<div class="main-panel">
		<div class="content-wrapper">
			<div class="page-header">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb"></ol>
				</nav>
			</div>


			<div class="card">
				<div style="display: flex">
					<div class="col-md-5"></div>
					<form method="post" class="forms-sample" style="margin-left: -42px">
						<div class="form-group col-md-4" style="display: flex; margin-top: 11px;margin-left: 50px;margin-right: 14px;padding-bottom: 7px">

							<div class="form-check">
								<label class="form-check-label" style="width: 92px;margin-left: -2px;margin-right: 10px;">
									<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="id">id</label>
							</div>
							<div class="form-check">
								<label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
									<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="titre">titre</label>
							</div>


							<button type="Submit" class="btn btn-success btn-fw" style="margin: auto; ">Sort</button>
						</div>
					</form>

				</div>
			</div>
			<div class="row ">
				<div class="col-12 grid-margin">
					<div class="card">
						<div class="card-body">
							<div style="display: flex">
								<div class="col-md-5"></div>


							</div>

							<ul class="navbar-nav w-100" style="margin-top: 18px;">
								<li class="nav-item w-100">
									<form name="Search-method" id="Search-method" method="post" class="forms-sample" style="display: flex">
										<div class="form-group col-md-5">
											<label style="margin-top: 11px;margin-left: 10px;margin-right: 14px;padding-bottom: 7px;;">Option Recherche</label>
											<select name="optionsearch" class="js-example-basic-single" style="width: 200px;height: 38px; color: white; background-color: #788175; border-radius: 4px;text-align: center;border: 2px solid #0090e7;margin-right: 15px;">
												<option value="">Choisir un Critére</option>
												<option value="id">id</option>
												<option value="nom">titre</option>

											</select>
										</div>
										<div class="form-group col-md-7">
											<div class="input-group">
												<input name="Search" type="text" class="form-control" placeholder="Search Evenements" aria-label="Recipient's username" aria-describedby="basic-addon2">
												<div class="input-group-append">
													<button class="btn btn-sm btn-primary" type="Submit">Search</button>
												</div>
											</div>
										</div>
									</form>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# here ends trie and find   #}

	

	<div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
		<div class="d-flex align-items-center user-member__title justify-content-center me-sm-25">
			<h4 class="text-capitalize fw-500 breadcrumb-title">Liste d'evenements
			</h4>

	

	{# <h1 style="text-align: center;"><span style="color: #0077B6;">evenement index</span></h1> #}
	<div class="table-responsive">


		<table border="2" class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>description</th>
					<th>Lieu</th>

					<th>Date</th>
					<th>Archive</th>

				</tr>
			</thead>
			<tbody>


				{% for evenement in evenements %}
					<tr>
						<div class="d-flex">
							<td>{{ evenement.id }}</td>
						</div>
						<div class="d-flex">
							<td>{{ evenement.titre }}</td>
						</div>

						<div class="d-flex">
							<td>{{ evenement.description }}</td>
						</div>
						<div class="d-flex">
							<td>{{ evenement.Lieu }}</td>
						</div>
						<div class="d-flex">
							<td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
						</div>

						<div class="d-flex">
							<td>{{ evenement.archive ? 'Yes' : 'No' }}</td>
						</div>

						<td>
							<ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
								<li>
									<a href="{{ path('app_evenement_show', {'id': evenement.id}) }}" class="show">
										<i class="uil uil-eye"></i>
									</a>
								</li>
								<li>
									<a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}" class="edit">
										<i class="uil uil-edit"></i>
									</a>
								</li>

								{# <li>
																																																																																																																																																												                                                <a href="{{ path('app_user_ban', {'id': user.id}) }}" 
																																																																																																																																																												                                                    value="{{ csrf_token('delete' ~ user.id) }}" class="remove">
																																																																																																																																																												                                                    <i class="fa-solid fa-user-slash"></i>
																																																																																																																																																												                                                </a>
																																																																																																																																																												                                            </li>
																																																																																																																																																												                                            <li>
																																																																																																																																																												                                                <a href="{{ path('app_user_unban', {'id': user.id}) }}" class="edit">
																																																																																																																																																												                                                    <i class="fa-brands fa-creative-commons-by"></i>
																																																																																																																																																												                                                </a>
																																																																																																																																																												                                            </li> #}
							</ul>
						</td>
					
								
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</div>
	</table>
	{# <li class="dm-pagination__item">
																				                        <div class="paging-option">
																				                             add pagination links
																				                            {% if currentPage > 1 %}
																				                                <a href="{{ path('app_evenement_index', {'page': currentPage - 1}) }}"class="dm-pagination__link pagination-control"><span class="la la-angle-left"></span></a>
																				                            {% endif %}
																				                            {% for page in 1..totalPages %}
																				                                {% if page == currentPage %}
																				                                {{ page }}
																				                                {% else %}
																				                                <a href="{{ path('app_evenement_index', {'page': page}) }}">{{ page }}</a>
																				                                {% endif %}
																				                            {% endfor %}
																				                            {% if currentPage < totalPages %}
																				                                <a href="{{ path('app_evenement_index', {'page': currentPage + 1}) }}" class="dm-pagination__link pagination-control"><span class="la la-angle-right"></span></a>
																				                            {% endif %}
																				                        </div>
																				                        </li> #}
	{# <a href="{{ path('app_evenement_new') }}">Create new</a> #}
	<div class="action-btn">
		<a href="{{ path('app_evenement_new') }}" class="btn btn-info btn-default btn-squared btn-transparent-info ">
			<i class="las la-plus fs-16"></i>Add New evenement</a>

	</div>

	{{ knp_pagination_render(evenements) }}

	

{% endblock %}
